/* Fenix UI Catalog */


.fx-catalog-welcome{
  text-align: center;
  max-width:300px;
  position: absolute;
  left: 50%;
  top: 50%;
  @include fx-transfor-me(translate(-50%,-50%));

  .catalog-ico{
    height:50px;
    width: 50px;
  }

  h1{
    margin-top: 10px;
  }

}

/* Packery */

.fx-catalog-form-module {
  //margin: 10px 0 20px;
  width: 50%;
  border: 10px solid $fenix-light-bg;

}

.fx-catalog-form-module.fit {
  width: 100%;
}

.fx_result_description_title {
  text-transform: uppercase;
  display: inline;
  color: $fx-secondary-color;
}

.fx_result_description_source {
  display: inline;
  color: $fenix-secondary-text;
}

.fx_result_description_source:before {
  content: "-";
}

.fx_result_description_geograficalarea {

}

.fx_result_description_baseperiod {
  font-style: italic;
  font-size: 10px;
}

.fenix-result {
  width: 100%;
  background-color: white;
  border: 1px solid $fenix-hr;
  @include fx-border-radius($fx-border-radius);
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px 0 16px 19px;

}



/*========= HEADER =========*/

.fx-catalog-header {
  text-align:center;
  background-color:$fenix-light-bg;

  em {
    font: $fx-text-smalltitle-normal;
  }
}

.fx-catalog-header-btn {
  cursor: pointer;
}



/*========= FILTER CONTAINER =========*/
.fx-catalog-modular-filter-container {
  background-color:  $fenix-light-bg;
  min-height: 250px;
  overflow: hidden;
}

/*========= MODULAR MENU =========*/
.fx-catalog-modular-menu-container {
  background-color:  $fenix-light-bg;
  padding: 0;
  min-height: 250px;
}



.fx-catalog-modular-menu-category-plus {
  position: absolute;
  top: 0;
  @include fx-small-icons(-90px, 0);
}


.fx-catalog-mod-timerseries {
  top: 25px;
}


.region-css {
  height: 100%;
  position: relative; }

.jstree-holder {
  height: 209px;
  overflow-y: auto;
}



/*========= RESUME BAR =========*/
.fx-catalog-resume-bar {
  padding-right:150px;

  background-color: $fenix-light-bg;
  position: relative;
}

#fx-catalog-resume {
  background-color:white;
  padding-top: 20px;
  min-height: 60px;
}

.fx-catalog-resume-title{
  color: $fx-cool-blue;
  padding-left: 15px;
  padding-top: 5px;
  font: $fx-text-smalltitle-normal;
  position: absolute;
  top: 0;
}

.fx-catalog-resume-noitem{
  padding-left: 15px;
  position: absolute;
  top: 15px;
}

#fx-catalog-submit-btn {
  color: white;
  text-transform: uppercase;
  background-color: $fx-cool-blue;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  @include fx-border-radius(0);


  &.disabled {
    background-color: $fenix-light-gray;
    opacity: 1;

  }

}

.fx-resume-item-selected{
  position:relative;
  border-top: 5px solid white;
  border-bottom: 5px solid white;

  .fx-resume-module-title{
    display: inline-block;
    width: 20%;
    padding-left: 15px;

    em{
      font: $fx-text-smalltitle-normal;
      color: $fx-cool-blue;
      font-size: 12px; /* Not expected */
      position: absolute;
      top: 0;
    }

  }

  .fx-resume-module-list-holder{
    display: inline-block;
    max-width: 80%;
    padding-right: 15px;

    .fx-resume-module-list{
      display: inline-block;
      @include fx-border-radius($fx-border-radius);
      border: 1px solid $fenix-hr;

    }

  }

}


.fx-catalog-resume-obj-close{
  display: inline-block;

  @include fx-small-icons(-45px, 0);
  cursor: pointer;
  position: relative;
  top: 3px;
}

.fx-catalog-resume-list-obj{
  display:inline-block;

  .fx-catalog-resume-obj-value{
    display: inline;
    margin-right:7px ;
  }

  .fx-resume-item-selected i{

  }
}


/*========= RESULTS */


/*========= COMMONS =========*/

.fx_horegon {
  display: inline;
}

.fx_result_icon_img{
  width: 42px;
}

