/* Fenix - Catalog Component */
/* Analysis Host */
/* Host CSS */
#fx-catalog-results {
  margin-top: 20px; }

.fx-analysis-page-title {
  font-weight: 100;
  color: #666666; }

.fx-analysis-page-description {
  color: #666666; }

.well {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0 0 white;
  -moz-box-shadow: 0 0 0 white;
  box-shadow: 0 0 0 white; }

.fx-catalog-toolbar {
  color: #666666; }
  .fx-catalog-toolbar .fx-widget-stack-btns {
    text-align: right; }
    .fx-catalog-toolbar .fx-widget-stack-btns em {
      font-style: normal;
      background-color: #666666;
      width: 30px;
      height: 20px;
      display: inline-block;
      color: white;
      text-align: center;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .fx-catalog-toolbar .fx-widget-stack-btns input {
      margin-left: 33px; }
