<div data-role="actions">

    <div class="btn-group {{multiple}}" role="group"><!--  class was btn-group-justified -->
        {{#each actions}}
            <div class="btn-group" role="group">
                <button class="btn btn-default fx-button-primary-color" data-action="{{action}}" data-rid="{{../rid}}"> {{label}} </button>
            </div>
        {{/each}}

    </div>
</div>