<div data-role="catalog" class="fx-catalog">

    <div class="modal-header clearfix cat-toolbar">

        <div class="cat-btn-left">

        </div>

        <h6 class="cat-title fx-text-primary-color truncate">{{ header_title }}</h6>

        {{#unless hideCloseButton}}

            <div class="cat-btn-right" title="{{ tooltip_btn_close_catalog }}">
                <button data-role="close" data-dismiss="modal" aria-label="Close" class="btn btn-default"
                        type="button">
                    <span class="icojam_button_delete_1"></span>
                </button>
            </div>
        {{/unless}}

    </div>

    <div class="modal-body">
        <!-- Filter -->
        <div class="row">

            <div class="row-height">

                <div class="col-sm-4 col-sm-height col-top cat-sidebar">

                    <div data-role="menu" class="dropdown" title="{{ tooltip_btn_add_selector }}">
                        <button class="btn btn-floating btn-fx-catalog-filters" type="button" data-toggle="dropdown"
                                aria-expanded="false">
                            <span class="icojam_add"></span>
                        </button>
                    </div>

                    <!-- Filter -->
                    <div data-role="filter" class="cat-filter-container"></div>

                </div>

                <div class="col-sm-8 col-sm-height col-top cat-results">

                    <!-- Bottom -->

                    <div data-role="bottom" data-status="intro" class="cat-statuses-holder">

                        <div data-content="error" class="text-center">

                            <h2>Oh snap!</h2>

                        </div>

                        <div data-content="ready">
                            <div data-role="results-container">
                                <table data-role="results"></table>
                            </div>
                            <div data-role="pagination" class="text-center"></div>
                        </div>

                        <div data-content="loading" class="text-center">
                            <span class="loading loading-48"></span>
                        </div>

                        <div data-content="empty" class="text-center">
                            <h2>Empty</h2>
                        </div>

                        <div data-content="intro" class="text-center">
                            <h2>This is the intro</h2>
                        </div>

                        <div data-content="huge" class="text-center">
                            <h2>Too many results. <br> Please add more filter criteria.</h2>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <!-- Summary -->
        <div class="row">
            <div class="col-xs-12" data-role="summary"></div>
        </div>

    </div>


    <!-- Errors -->
    <div class="row">
        <div class="col-xs-12">
            <ul data-role="error-container" class="alert alert-danger list-unstyled" role="alert"></ul>
        </div>
    </div>

</div>