<div>

    <div data-role="catalog" class="fx-catalog">

        <div data-role="menu" class="dropdown">
            <a href="" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
        </div>

        <!-- Filter -->
        <div class="row">

            <div class="col-xs-4">

                <!-- Filter -->
                <div data-role="filter"></div>

            </div>

            <div class="col-xs-8">

                <!-- Bottom -->
                <div class="row">
                    <div class="col-xs-12">
                        <div data-role="bottom" data-status="intro">

                            <div data-content="error">
                                Oh snap!
                            </div>

                            <div data-content="ready">
                                <div data-role="results-container">
                                    <table data-role="results"></table>
                                </div>
                                <div data-role="pagination" class="text-center"></div>
                            </div>

                            <div data-content="loading" class="text-center">
                                <span class="loading loading-48"></span>
                            </div>

                            <div data-content="empty">
                                Empty
                            </div>

                            <div data-content="intro">
                                This is the intro
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Summary -->
        <div class="row">
            <div class="col-xs-12" data-role="summary"></div>
        </div>

        <!-- Errors -->
        <div class="row">
            <div class="col-xs-12">
                <ul data-role="error-container" class="alert alert-danger list-unstyled" role="alert"></ul>
            </div>
        </div>

    </div>

    <div data-role="actions">

        <div class="btn-group" role="group">

            {{#each actions}}
                <button class="btn btn-default" data-action="{{action}}" data-rid="{{../rid}}"> {{label}} </button>
            {{/each}}

        </div>

    </div>

</div>