<div>

    <div data-role="catalog" class="fx-catalog">

        <div class="modal-header clearfix cat-toolbar">

            <div class="cat-btn-left">
                <div data-role="menu" class="dropdown">
                    <button class="btn btn-default" type="button" data-toggle="dropdown" aria-expanded="false">
                        <span class="icojam_preview_list"></span>
                    </button>
                </div>
            </div>

            <h6 class="cat-title truncate">Open a resource</h6>
            <!--<button type="button" class="close cat-btn-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->

            <div class="cat-btn-right">
                <button data-dismiss="modal" aria-label="Close" class="btn btn-default" type="button">
                    <span class="icojam_button_delete_1"></span>
                </button>
            </div>


        </div>


        <div class="modal-body">
            <!-- Filter -->
            <div class="row">

                <div class="row-height">

                    <div class="col-sm-4 col-sm-height col-top cat-sidebar">

                        <!-- Filter -->
                        <div data-role="filter" class="cat-filter-container"></div>

                    </div>

                    <div class="col-sm-8 col-sm-height col-top cat-results">

                        <!-- Bottom -->

                        <div data-role="bottom" data-status="intro">

                            <div data-content="error">
                                Oh snap!
                            </div>

                            <div data-content="ready">
                                <div data-role="results-container">
                                    <table data-role="results"></table>
                                </div>
                                <div data-role="pagination" class="text-center"></div>
                            </div>

                            <div data-content="loading" class="text-center">
                                <span class="loading loading-48"></span>
                            </div>

                            <div data-content="empty">
                                Empty
                            </div>

                            <div data-content="intro">
                                This is the intro
                            </div>

                        </div>


                    </div>

                </div>
            </div>

        </div>

        <div class="modal-footer">
            <!-- Summary -->
            <div class="row">
                <div class="col-xs-12" data-role="summary"></div>
            </div>

        </div>


        <!-- Errors -->
        <div class="row">
            <div class="col-xs-12">
                <ul data-role="error-container" class="alert alert-danger list-unstyled" role="alert"></ul>
            </div>
        </div>

    </div>

    <div data-role="actions">

        <div class="btn-group btn-group-justified" role="group">
            {{#each actions}}
                <div class="btn-group" role="group">
                    <button class="btn btn-default" data-action="{{action}}" data-rid="{{../rid}}"> {{label}} </button>
                </div>
            {{/each}}

        </div>
    </div>

</div>

</div>